
.DS_Store
.obsidian
.playwright-mcp
.quartz-cache
.quartz/
build.log
.replit
authors-wheel-zoom.png
axes-wheel.png
build2.log
build3.log
build4.log
build5.log
build6.log
build7.log
build8.log
build9.log
buildA.log
buildB.log
buildC.log
buildD.log
buildbase.log
docs/
home-eng-lit.png
node_modules
preprocess.log
private/
prof
public
replit.nix
scripts-download-emblems.mjs
scripts-resize-emblems.mjs
tsconfig.tsbuildinfo
wheels-home.png
__pycache__/
*.pyc

debug.log
sync-v5.log
